.user {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: center;
  border: none;
}

.user ul {
  display: inline-flex;

  flex-direction: column;
}

.user li {
  padding: 20px;
}
